<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
    <server>
        <id>adikarthikgupta</id>
        <username>YourUsername</username>
        <password>YourPassword</password>
    </server>
</servers>

<mirrors>
    <mirror>
        <id>azure</id>
        <mirrorOf>external:http</mirrorOf>
        <url>https://pkgs.dev.azure.com/adikarthikgupta/_packaging/adikarthikgupta/maven/v1</url>
        <blocked>false</blocked>
    </mirror>
</mirrors>
</settings>

