<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
<server> 
<id>adikarthikgupta</id> 
<username>adikarthikgupta</username>   
<password>K7FpQhzHCIFUEDONcD6ggrwJb4tgbdDOmHaiK9pJsg1neUb3vcTZJQQJ99AKACAAAAA8yzi4A
 AASAZDOnOsr</password> 
</server> 
<repository> 
<id>adikarthikgupta</id> 
<url>https://pkgs.dev.azure.com/adikarthikgupta/_packaging/adikarthikgupta/maven/v1</url> 
<releases> 
<enabled>true</enabled> 
</releases> 
<snapshots> 
<enabled>true</enabled> 
</snapshots> 
</repository> 

</settings>
